.App2{
  text-align: center;
}
.App {
  
  border: 4px solid;
  top: 2%;
  width: 70%;
  padding: 30px 20px;
  border-radius: 5px;
  margin: auto;
  display: grid;
}
.App-logo {
  height: 4cm;
  width: 7cm;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 10vh;
  border-bottom: 2px solid black;
}

.App-link {
  color: #052a35;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(5deg);
  }
}

.Container{
  margin: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.m{
  background-color: #90CAF9;
  width: fit-content;
  border-radius: 5px;
  padding: 2px;
  color: #0D47A1;
  font-weight: bolder;
  margin: 5px;
  font-size: 19px;
  padding: 2px 8px; 
}
.m:hover{
  transform: scale(1.10);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.f{
  background-color: #F8BBD0;
  width: fit-content;
  border-radius: 5px;
  padding: 2px;
  color: #C2185B;
  font-weight: bolder;
  margin: 5px;
  font-size: 19px;
  padding: 2px 8px; 
}
.f:hover{
  transform: scale(1.10);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.search{
  margin: 10px 20px ;
  padding: 1px 10px;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 15px;
}

.icons{
  display: flex;
  flex-direction: row;
  margin: 0 15px;
  align-items: center;

}

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.footer {
  background-color: rgb(198, 226, 243);
  margin-top: 3cm;
  padding-top: 20px;
  text-align: center;
}
.favorites{
  margin-top: 1cm;
  margin-right: 10cm;

}